body {
    background-color: rgb(184, 112, 112);
    color: white;
    font-family: sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 5px 0;
}

h1, p {
    text-align: center;
}

.home {
    color: white;
    width: 100px;
    text-decoration: none;
    border: solid white;
    border-radius: 10px;
    margin: 3px auto;
    padding: 8px;
    display: block;
    text-align: center;
}

.home:hover {
    background-color: white;
    color:rgb(184, 112, 112);
}