body {
    background-color: rgb(184, 112, 112);
    color: white;
    font-family: sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul a {
    color: white;
    text-decoration: none;
    border: solid white;
    border-radius: 10px;
    margin: 3px 0;
    padding: 8px;
    display: inline-block;
}

ul a:hover {
    background-color: white;
    color: rgb(184, 112, 112);
}